name: Build and Release

on:
  push:
    tags:
      - v**

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Tag Name
        id: set_tag
        run: echo "tag_name=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@v5
        with:
          node-version: 23
          registry-url: 'https://registry.npmjs.org'
          cache: pnpm

      - run: npm install -g npm@latest

      - run: pnpm i --frozen-lockfile --strict-peer-dependencies
      - run: pnpm build

      - run: npm publish --access public --tag latest

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.set_tag.outputs.tag_name }}
          release_name: ${{ steps.set_tag.outputs.tag_name }}
          draft: false
          prerelease: false
